<div id="browse">
	<h2>Directories</h2>
	<ul>
		<% @directories.each do |dir| %>
      <li class="dir">
        <a href="/browse<%= dir[:uri] %>"><%= dir[:name] %></a>
          <span class="actions">
            (<a href="/zip<%= dir[:uri] %>">download zip</a>)
          </span>
      </li>
    <% end %>
	</ul>
</div>
