<div id="browse">
	<h2>Directories</h2>
	<ul>
		<% @directories.each do |dir| %>
      <li class="dir">
        <a href="/browse<%= dir[:uri] %>"><%= dir[:name] %></a>
          (<a href="/zip<%= dir[:uri] %>">zip</a>)
      </li>
    <% end %>
	</ul>
</div>
