<div id="browse">
	<h2>Files</h2>
	<ul>
		<% @files.each do |file| %>
      <li class="dir">
        <a href="/view<%= file[:uri] %>"><%= file[:name] %></a>
        <span class="actions">
          (<a href="/download<%= file[:uri] %>">download file</a>, <a href="/play<%= file[:uri] %>">play song</a>)
        </span>
      </li>
    <% end %>
	</ul>
</div>
