<div id="view">
	<h2>View</h2>
  <%= @path %>

  <p>
    <strong>Artist:</strong> <%= @artist %><br/>
    <strong>Title:</strong> <%= @title %><br/>
  </p>

  <% if @image %>
    <img src="<%= @image %>">
  <% end %>
</div>
